  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  footer{
  	margin-top: -20px;
  }
  #searchDiv {
  	margin-top: 15vh;
  	border: .1px solid gray;
  	border-radius: 18px;

  }
  #search{
  	margin: 0px 35px 0px 0px;
  }
  #mainIndex{
  	height: 60vh;
  	background-image: url('../img/business.jpg');
  	background-size: 100% 100%;
  }