  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  footer{
  	margin-top: -20px;
  }
  #searchDiv {
  	margin-top: 15vh;
  	border: .1px solid gray;
  	border-radius: 18px;

  }
  #search{
  	margin: 0px 35px 0px 0px;
  }
  #mainIndex{
  	height: 60vh;
  	background-image: url('../img/business.jpg');
  	background-size: 100% 100%;
  }
  #aside {
    margin: 0px;
    min-height: 60vh;
    text-align: center;
  }
  #aside img{
    border-radius: 100px;
    width: 12vw;
    margin: 10px;
  }
  .cardCartBtn{
    width: 5em;
    height: 2.8em;
   border-radius: 12%;
 }
 .qtd {
  padding: 0px;
  line-height: -40px;
  margin-top: -12px;
  border:.1px solid #999999;
  margin: 0px;
  height: 40px;
  border-radius: 25px;
  }
